package routes

import (
	"github.com/gin-gonic/gin"
	"{{.ModulePath}}/internal/handlers"
)

func ExampleRoute(r *gin.Engine) {
	api := r.Group("/api/v1")
	{
		api.GET("/health", handlers.Healthcheck)
	}
}
